/* Header Styles */


.NavItem {
  color: black;
  text-decoration: none;
}


.Search {
  text-align: center;
}

href {
  color: #413e3e;
  text-decoration: none;
}

.comics CardImg {
  max-width: 70%;
}